<div class="container-fluid">
  <p>NOS PONEMOS EN CONTACTO CONTIGO</p>
    <form>
      <div class="mb-2">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="mb-2">
        <input type="tel" class="form-control" id="movil" placeholder="Número de móvil">
      </div>
      <div class="mb-2">
      <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </div>
    </form>
  </div>