.lupa {
    max-width: 20px;
    height: auto;
  }
  .bg-verde {
    background-color: #d0fdd7; /* Color verde */
  }
  
  .bg-gris {
    background-color: #c7c2c2; /* Color gris */
  }
  
  .form-control {
    border: 1px solid #FFFF00; /* Color amarillo */
  }